/*
GENERAL
*/

html {
    margin: 0;
}

* {
    font-family: arponasans, sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: arponasans, sans-serif;
}

header {
    margin: 10px 2vw 0;
}

h1 {
    color: #EF0012;
    font-family: kon-tiki-aloha-jf, sans-serif;
    font-size: 10vw;
    text-align: center;
    margin-bottom: 10px;
}

#ondertitel {
    color: #EF0012;
    text-align: center;
    margin: 0;
}

#blueButton {
    background-color: #4FB2C0;
    padding: 8px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 25px;
}

/*
MENU
*/
#open {
    width: 50px;
    float: left;
    cursor: pointer;

    margin-top: 8px;
}

#slideOut {
    width: 100%;
    height: 100vh;
    margin: 0;

    position: fixed;
    top: 0;

    background-color: #F5A88D;
    color: white;
    z-index: 2;
    transition: 0.4s ease-in-out;
}

#menuTitle {
    color: white;
    font-size: 11vw;
}

.slideOutHide {
    left: -100%;
}

.slideOutShow {
    left: 0;
}


#close {
    position: absolute;
    left: 15px;
    top: 15px;
    width: 32px;
    height: 32px;
}

#close:before,
#close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: white;
}

#close:before {
    transform: rotate(45deg);
}

#close:after {
    transform: rotate(-45deg);
}

#open #lijn1,
#open #lijn2,
#open #lijn3 {
    width: 30px;
    height: 4px;
    background-color: #F5A88D;
    margin: 12% 0;
}





#navItems .icons::before {
    content: "M";
    font-size: 38px;
    color: rgba(255, 255, 255, 0);
    vertical-align: middle;

    background-size: contain;
    background-repeat: no-repeat;
}

#navItems .home::before {
    background-image: url("./Resources/Icons/Home_WHITE.svg");
}

#navItems .activiteiten::before {
    background-image: url("./Resources/Icons/date_WHITE.svg");
}

#navItems .wordLid::before {
    background-image: url("./Resources/Icons/members_WHITE.svg");
}

#navItems .vrijwilliger::before {
    background-image: url("./Resources/Icons/Sign\ Up_WHITE.svg");
}

#navItems .overOns::before {
    background-image: url("./Resources/Icons/about_WHITE.svg");
}



margin-left: 40%;
}




/*
NAV ITEMS
*/

#navItems a {
    text-decoration: none;
    color: white;
}

#navItems a:hover {
    color: #C1272D;
}

ul {
    list-style: none;
}

#navItems a {
    text-decoration: none;
    color: white;
}